<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>192930116825-du2nk03o90kgavkh3barradus6kfseaa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.192930116825-du2nk03o90kgavkh3barradus6kfseaa</string>
	<key>API_KEY</key>
	<string>AIzaSyDUP01wJGh2cIdF9LrNjAHOPpihYfPzqhY</string>
	<key>GCM_SENDER_ID</key>
	<string>192930116825</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.yoichiro.ehon</string>
	<key>PROJECT_ID</key>
	<string>ehon-e59cf</string>
	<key>STORAGE_BUCKET</key>
	<string>ehon-e59cf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:192930116825:ios:956994af5e3248402fbac8</string>
</dict>
</plist>